/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
    font-family: 'Original Surfer', cursive;
    font-family: 'Poppins', sans-serif;
*/

/* Colorhunt https://colorhunt.co/palette/7fb77eb1d7b4f7f6dcffc090
    background-color: #ffc090;
    background-color: #f7f6dc;
    background-color: #b1d7b4;
    background-color: #7fb77e;
*/

/* General Styling */
html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ------ Variables ------ */
:root {
  --text-color: #201e1e;
  --light-color: #b1d7b4;
  --dark-color: #7fb77e;
  --accent-color: #ffc090;
  --bg-color: #f7f6dc;

  /* fonts */
  --heading-font: 'Original Surfer', cursive;
  --block-text-font: 'Poppins', sans-serif;

  /* spacing/layout */
  --content-gap: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1 {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 2.6rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 300;
}

.wrapper {
  min-width: 300px;
  max-width: 992px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

.highlight {
  /* padding: 0 0.2em;
  font-weight: 500;
  background-image: linear-gradient(
    transparent 0%,
    transparent 10%,
    var(--accent-color) 54%,
    var(--accent-color) 82.625%,
    transparent 82.625%,
    transparent 100%
  ); */
}

/* Links */
a:link,
a:visited {
  color: var(--bg-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--accent-color);
}

hr {
  width: 95%;
  margin: 2em auto;
  border: none;
  border-bottom: 1px solid var(--dark-color);
}

/* Brand bar */
.brand-bar {
  padding: 1.5em 0.5em;
}

.brand-bar img {
  width: 250px;
  height: auto;
}

/* Navbar */
.navbar {
  background-color: var(--dark-color);
  padding: 1em;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-items a {
  margin-left: 1em;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.2rem;
  text-shadow: 1px 0px 1px#777777;
  letter-spacing: 0.1rem;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

header h1 {
  margin: 0;
  padding: 0;
  width: 70%;
  font-size: 2.8rem;
}

header img {
  max-width: 25%;
  height: auto;
  border-radius: 100vmax;
  /* padding: 1em; */
  /* box-shadow: 0 0 3px 1px #474747; */
}

/* Social bar */
section.social-bar {
  /* icons distance from the right */
  padding-right: 5em;
  display: flex;
  justify-content: flex-end;
}

.social-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  text-shadow: 1px 0px 1px#d0d0d0;
}

.social-icons li a:link,
.social-icons li a:visited {
  color: var(--dark-color);
}

.social-icons li a:hover,
.social-icons li a:focus {
  color: var(--accent-color);
}

/* main */
section.main-home {
  padding: 1em 2em 3em;
  display: grid;
  grid-gap: 1em;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1f);
}

section.main-home h2 {
  /* font-size: 2rem; */
  font-weight: 400;
}

/* footer */
footer {
  background-color: var(--light-color);
  padding: 0.75em 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

footer .footer p {
  font-size: 0.9rem;
  font-weight: 300;
}

.accent-letter {
  color: var(--accent-color);
  text-shadow: 1px 0 1px #7d7d7d, -1px 0 1px#6f6f6f;
}
